
<%- include("header") -%>

<h2>This is the about page</h2>

<p>lots of tex lots of textlots of textlots of textlots of textlots of textlots of textlots of textlots of textlots of textlots of textt</p>

<%- include("footer") -%>
